<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.propertyManagement.mapper.projectManagement.TaskMapper">
    <select id="getTaskList" resultType="Task">
        SELECT *  FROM task;
    </select>
    <select id="getTaskInfo" resultType="Task" parameterType="int">
        SELECT * FROM task where id = #{0};
    </select>
    <delete id="deleteTask" parameterType="int">
        DELETE FROM task WHERE id = #{0};
    </delete>
    <update id="updateTaskInfo">
        UPDATE task SET name = #{1}, description = #{2}, planNum = #{3} where id = #{0};
    </update>
    <select id="getTaskListByProjectId" resultType="Task">
        SELECT * FROM task WHERE projectId = #{0};
    </select>
    <select id="getTaskIdListByStaffId" resultType="Integer">
        SELECT taskID FROM participate WHERE staffId = #{0};
    </select>
    <delete id="deleteStaffFromTask">
        DELETE FROM participate WHERE staffId = #{0} and taskId = #{1};
    </delete>
    <insert id="addStaffIntoTask">
        INSERT INTO participate(staffId, taskId) VALUES (#{0}, #{1});
    </insert>
    <insert id="addTask">
        INSERT into task(name, description, planNum, projectId) VALUES
        <foreach collection="taskList" item="item" index="index" separator=",">
            (
            #{item.name},
            #{item.description},
            #{item.planNum},
            #{0}
            )
        </foreach>
    </insert>
    <select id="getSimpleTaskListByProjectId" resultMap="simpleTaskList" parameterType="int">
        SELECT task.id, task.description, task.name as taskName, staff.name as monitorName FROM task LEFT OUTER JOIN staff
        on task.monitorId = staff.id WHERE task.projectId = #{0};
    </select>
    <resultMap id="simpleTaskList" type="SimpleTask">
        <id property="id" column="id"></id>
        <result property="description" column="description"></result>
        <result property="taskName" column="taskName"></result>
        <result property="monitorName" column="monitorName"></result>
    </resultMap>
    <select id="getMonitorByTaskId" resultType="Staff">
        SELECT * FROM staff where id = (SELECT monitorId FROM task WHERE id = #{0});
    </select>
</mapper>