<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.propertyManagement.mapper.clientManagement.ClientMapper">
    <select id="getClientList" resultType="Client">
        SELECT * FROM client;
    </select>
    <delete id="deleteByPhone" parameterType="String">
        DELETE FROM client WHERE phone = #{phone};
    </delete>
    <insert id="addClient" parameterType="Client">
        INSERT INTO client(name, company, phone, address) VALUES (#{0}, #{1}, #{2}, #{3});
    </insert>
    <update id="editClient" parameterType="Client">
        UPDATE client SET client.name = #{name}, client.company = #{company}, client.phone = #{phone}, client.address =
        #{address} WHERE client.id = #{id};
    </update>
</mapper>
