<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.propertyManagement.mapper.clientManagement.ClientMapper">
    <select id="selectClient" resultType="Client">
        SELECT * FROM client WHERE name = #{0} and company = #{1} and phone = #{2} and address = #{3};
    </select>
    <select id="selectClient2" resultType="Client">
        SELECT * FROM client WHERE name = #{0} and company = #{1} and phone = #{2};
    </select>
    <select id="selectClient3" resultType="Client">
        SELECT * FROM client WHERE name = #{0} and company = #{1} and address = #{2};
    </select>
    <select id="selectClient4" resultType="Client">
        SELECT * FROM client WHERE name = #{0} and phone = #{1} and address = #{2};
    </select>
    <select id="selectClient5" resultType="Client">
        SELECT * FROM client WHERE company = #{0} and phone = #{1} and address = #{2};
    </select>
    <select id="selectClient6" resultType="Client">
        SELECT * FROM client WHERE name = #{0} and company = #{1};
    </select>
    <select id="selectClient7" resultType="Client">
        SELECT * FROM client WHERE name = #{0} and phone = #{1};
    </select>
    <select id="selectClient8" resultType="Client">
        SELECT * FROM client WHERE name = #{0} and address = #{1};
    </select>
    <select id="selectClient9" resultType="Client">
        SELECT * FROM client WHERE company = #{0} and phone = #{1};
    </select>
    <select id="selectClient10" resultType="Client">
        SELECT * FROM client WHERE company = #{0} and address = #{1};
    </select>
    <select id="selectClient11" resultType="Client">
        SELECT * FROM client WHERE phone = #{0} and address = #{1};
    </select>
    <select id="selectClient12" resultType="Client">
        SELECT * FROM client WHERE name = #{0};
    </select>
    <select id="selectClient13" resultType="Client">
        SELECT * FROM client WHERE company = #{0};
    </select>
    <select id="selectClient14" resultType="Client">
        SELECT * FROM client WHERE phone = #{0};
    </select>
    <select id="selectClient15" resultType="Client">
        SELECT * FROM client WHERE address = #{0};
    </select>
    <select id="selectClient16" resultType="Client">
        SELECT * FROM client;
    </select>


    <delete id="deleteByPhone" parameterType="String">
        DELETE FROM client WHERE phone = #{phone};
    </delete>
    <insert id="addClient" parameterType="Client">
        INSERT INTO client(name, company, phone, address) VALUES (#(name), #(company), #(phone), #(address));
    </insert>

</mapper>
