<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.propertyManagement.mapper.staffManagement.StaffMapper">
    <!--查-->
    <select id="getMonitorList" resultType="Staff">
        SELECT * from staff where position = 2;
    </select>
    <select id="getStaffList" resultType="Staff">
        SELECT * from staff;
    </select>
    <select id="getStaffInfoById" resultType="Staff" parameterType="int">
        SELECT staff_id as id, staff_name as name, staff_phone as phone, staff_idCard as idCard, staff_sex as sex,
        pos_name as position, staff_birthDate as birthDate, staff_workDate as workDate, staff_companyId as companyId,
        staff_avatarUrl as avatarUrl FROM bus_staff, dic_position WHERE staff_positionId = pos_id and staff_id = #{0};
    </select>
    <select id="getStaffByOpenId" resultType="Staff" parameterType="String">
        SELECT * FROM staff WHERE id = (SELECT staffId from authentication where openId = #{0})
    </select>
    <select id="getStaffListByCompanyId" resultType="Staff" parameterType="ParameterList">
        SELECT staff_id as id, staff_name as name, staff_phone as phone, staff_idCard as idCard, staff_sex as sex,
        pos_name as position, staff_birthDate as birthDate, staff_workDate as workDate, staff_companyId as companyId,
        staff_avatarUrl as avatarUrl FROM bus_staff, dic_position WHERE staff_positionId = pos_id and staff_companyId = #{companyId}
        <if test="sex != ''">
            and staff_sex = #{sex}
        </if>
        <if test="positionId != 0">
            and pos_id = #{positionId}
        </if>
        <if test="ascend == true">
            ORDER BY staff_workDate
        </if>
        <if test="ascend == false">
            ORDER BY staff_workDate DESC
        </if>
        ;
    </select>
    <select id="getStaffListByNameStr" resultType="Staff">
        SELECT * FROM staff where name LIKE #{0};
    </select>
    <select id="getStaffInfoInAuthentication" resultType="Staff">
        SELECT * FROM staff where id in (SELECT staffId from authentication);
    </select>

    <!--增-->
    <insert id="addApplyStaff" parameterType="Staff">
        INSERT INTO staff(name, idCard, companyId, sex, position, birthDate, workDate, type, phone)
        VALUES (#{name}, #{idCard}, #{companyId}, #{sex}, #{position}, #{birthDate}, #{workDate}, #{type}, #{phone});
        <selectKey keyProperty="id" order="AFTER" resultType="int">
            SELECT LAST_INSERT_ID();
        </selectKey>
    </insert>
    <insert id="addStaff" parameterType="Staff">
        INSERT INTO bus_staff(staff_name, staff_phone, staff_idCard, staff_sex, staff_birthDate, staff_workDate,
        staff_companyId, staff_avatarUrl, staff_positionId) VALUES (#{name}, #{phone}, #{idCard}, #{sex},
        #{birthDate}, #{workDate}, #{companyId}, #{avatarUrl}, (SELECT pos_id FROM dic_position WHERE pos_name =
        #{position}));
    </insert>

    <!--删-->
    <delete id="deleteStaff" parameterType="int">
        delete from staff where id = #{0};
    </delete>

    <!--改-->
    <update id="updateStaffTypeById">
        UPDATE staff set type = 1 WHERE id = #{0};
    </update>
</mapper>