<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.propertyManagement.mapper.login.LoginMapper">
    <select id="list" resultType="ManageStaff">
        SELECT * from manage_staff;
    </select>
    <insert id="addStaff" parameterType="Staff">
        INSERT into staff(name, sex, idCard, birthDate, workDate, openid) values (#{name}, #{sex}, #{idCard}, #{birthDate}, #{workDate}, #{openid});
    </insert>
    <select id="listAccount" resultType="Account">
        SELECT * from account;
    </select>
    <insert id="addAccount" parameterType="Account">
        INSERT INTO account(openid, phone, password) values (#{openid}, #{phone}, #{password});
    </insert>
    <select id="getPasswordByPhone" parameterType="String" resultType="String">
        SELECT password from account WHERE phone = #{0};
    </select>
    <select id="getCompanyNameById" parameterType="int" resultType="String">
        SELECT name FROM company where id = #{0};
    </select>
</mapper>